.App {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}

.App main {
  width: 100%;
  background-color: rgb(0, 0, 0);
 
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Remove default button styles */


body, input, textarea, select, button {
  font-size: 12px;
  font-family: sans-serif;
}
