.App {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgb(3, 1, 22);
  
}

.App main {
 
  width:100%;
  background:rgb(3, 1, 22);

}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Remove default button styles */


body, input, textarea, select, button {
  font-size: 8px;
  font-family: sans-serif;
}
